<mat-card class="bg-white h-full">
  <mat-card-content class="flex flex-col justify-center h-full">
    <div class="flex justify-center text-orange-400 py-5">
      <mat-icon class="scale-150">add_task</mat-icon>
    </div>

    <p class="w-full text-gray-500 font-bold mt-2 mb-1">Record your To-Dos</p>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-center"
    >
      <mat-form-field appearance="outline" class="w-full pt-2">
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Your pending task"
        />
        <mat-icon matIconPrefix>task</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full pb-2">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Your task description"
          class="resize-none"
          rows="5"
        ></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        class="my-2"
        type="submit"
        [disabled]="!validatedForm"
      >
        Save
      </button>
    </form>
  </mat-card-content>
</mat-card>
