<div class="grid grid-cols-1 md:grid-cols-2 gap-3 h-full">
  <mat-card class="bg-white h-full w-full overflow-hidden" align="center">
    <mat-card-title class="text-gray-500 font-bold my-2">To Do</mat-card-title>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="list"
      (cdkDropListDropped)="drop($event, list.TO_TODO)"
    >
      @for (task of todo; track task.id) {
        <div class="task" cdkDrag [cdkDragData]="task">
          <div class="flex flex-col pr-2">
            <button
              mat-icon-button
              (click)="editTask(task)"
              class="text-gray-500"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
          </div>
          <div class="flex flex-col w-px grow">
            <div class="flex flex-row justify-between">
              <p class="font-bold text-lg truncate">{{ task.title }}</p>
              <div class="flex flex-col text-gray-500 text-xs min-w-max px-3">
                <span>Created At</span>
                <span>{{ task.createdAt | date: "short" }}</span>
              </div>
            </div>
            <div class="flex w-full">
              <span class="self-start font-light truncate">
                {{ task.description }}
              </span>
            </div>
          </div>
          <div class="flex flex-col">
            <button
              mat-icon-button
              (click)="editTask(task)"
              class="text-gray-500"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteTask(task)"
              class="text-gray-500"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </mat-card>
  <mat-card class="bg-white h-full w-full" align="center">
    <mat-card-title class="text-gray-500 font-bold my-2">Done</mat-card-title>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="list"
      (cdkDropListDropped)="drop($event, list.DONE)"
    >
      @for (task of done; track task.id) {
        <div class="task" cdkDrag [cdkDragData]="task">
          <div class="flex flex-col w-px grow">
            <div class="flex flex-row justify-between">
              <p class="font-bold text-lg truncate">{{ task.title }}</p>
              <div class="flex flex-col text-gray-500 text-xs min-w-max px-3">
                <span>Created At</span>
                <span>{{ task.createdAt | date: "short" }}</span>
              </div>
            </div>
            <div class="flex w-full">
              <span class="self-start font-light truncate">
                {{ task.description }}
              </span>
            </div>
          </div>
          <div class="flex flex-col">
            <button
              mat-icon-button
              (click)="editTask(task)"
              class="text-gray-500"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteTask(task)"
              class="text-gray-500"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </mat-card>
</div>
